:root {
    --circle-size: 80%;
    --x--width: 10%;
    --x-height: 90%;
}

* {
    box-sizing: border-box;
    font-family: monospace;
}

html, body {
    margin: 0;
    padding: 0;
}

main {
    height: 100vh;

    display: grid;
    grid-template-rows: 1fr 5fr;
}

header {
    margin-top: 1rem;
    text-align: center;
    font-size: 1.4rem;
    font-weight: bold;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    gap: 1rem;
}

.player-el {
    font-size: 1.2rem;
    margin-bottom: 2rem;
}

.game-grid {
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
    width: 500px;
    height: 500px;

    gap: 2px;
    background-color: black;
}

.game-cell {
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 10rem;
    font-weight: 100;

    background-color: white;

    position: relative;

    cursor: pointer;
}

.game-cell.x, 
.game-cell.circle {
    cursor: not-allowed;
}

.game-cell::before,
.game-cell::after {
    content: "";
    position: absolute;
    background-color: black;
}

.game-cell.x::before,
.game-cell.x::after,
.game-cell.circle::before{
    background-color: black !important;
}

.game-cell.x::after, 
.game-grid.x .game-cell:not(.x):not(.circle):hover:after {
    width: var(--x--width);
    height: var(--x-height);

    background-color: lightgrey;
    transform: rotate(45deg);

    transition: transform 200ms ease;
}

.game-cell.x::before,
.game-grid.x .game-cell:not(.x):not(.circle):hover::before {
    width: var(--x--width);
    height: var(--x-height);

    background-color: lightgrey;
    transform: rotate(-45deg);

    transition: transform 200ms ease;
}

.game-cell.circle::before,
.game-grid.circle .game-cell:not(.x):not(.circle):hover::before {
    width: var(--circle-size);
    height: var(--circle-size);

    background-color: lightgrey;

    border-radius: 50%;
}

.game-cell.circle::after,
.game-grid.circle .game-cell:not(.x):not(.circle):hover::after  {
    width: calc(var(--circle-size) * .7);
    height: calc(var(--circle-size) * .7);

    background-color: white;
    
    border-radius: 50%;

    animation: circle-scale-anim 200ms ease forwards;
}

@keyframes circle-scale-anim {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}

.win-screen {
    position: fixed;
    top: 0%;
    left: 0%;
    right: 0%;
    bottom: 0%;

    background-color: rgba(0,0,0, .7);
    backdrop-filter: blur(10px);

    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    color: white;
}

.win-text {
    font-size: 4rem;
    font-weight: bold;
    margin-bottom: 1.75rem;
}

.restart-btn {
    font-size: 1.75rem;
    padding: 1rem 2rem;

    border: none;
    border-radius: 1rem;

    cursor: pointer;

    transition: background-color 200ms ease,
    color 200ms ease;
}

.restart-btn:hover {
    background-color: black;
    color: white;
}

.win-screen.visible {
    display: flex;
}

.player {
    font-weight: bold;
}